body {
    background-color: black;
    font-family: 'Quicksand', sans-serif;
    color: ivory;
}

#header {
    padding: 25px;
    background-color: inherit;
}

#brand {
    display: inline;
}

#brandDescription {
    display: inline;
}

#columns {
    transition: all 0.7s ease-out;
    display: flex;
    flex-direction: row;
}

#projectsButton {
    display: inline;
    background-color: inherit;
    color: ivory;
    border-radius: 50px;
    border: none;
    font-size: xx-large;
    opacity: 60%;
}

#projectsButton:hover {
    cursor: pointer;
    opacity: 75%;
    font-weight: lighter;
}

#projectsButton:active {
    border: ivory;
    background-color: black;
    color: ivory;
    opacity: 100%;
    font-weight: normal;
}

.tasksButton {
    display: inline;
    background-color: inherit;
    color: ivory;
    border-radius: 50px;
    border: none;
    font-size: xx-large;
    opacity: 60%;
}

.tasksButton:hover {
    cursor: pointer;
    opacity: 75%;
    font-weight: lighter;
}

.tasksButton:active {
    border: ivory;
    background-color: black;
    color: ivory;
    opacity: 100%;
    font-weight: normal;
}

#leftPanel {
    padding: 50px;
    border-radius: 5px 0 0 5px;
    width: 20%;

}

.projectTextStyle {
    cursor: pointer;
    opacity: 65%;
}

.projectTextStyle:hover {
    opacity: 75%;
}

.projectTextStyle:active {
    opacity: 100%;
}

#rightPanel {
    position: fixed;
    padding: 50px;
    border-radius: 0 5px 5px 0;
    width: 80%;
    margin-left: 500px;
}

input {
    background-color: rgb(31, 31, 31);
    color: ivory;
    border: solid 1px ivory;
}

.checkButton {
    border-radius: 50px;
    border: none;
    background-color: rgba(255, 255, 240, 0.397);
    font-weight: bold;
    opacity: 80%;
    width: 15px;
    height: 15px;
    margin: 50px;
    display: inline;
}

.checkButton:hover {
    opacity: 100%;
    cursor: pointer;
}

.removeButton {
    margin-left: 20px;
    border-radius: 50px;
    border: none;
    background-color: black;
    font-weight: bold;
    opacity: 70%;
    width: 15px;
    height: 15px;
    color: ivory;
}

.removeButton:hover {
    opacity: 100%;
    cursor: pointer;
}