body {
    background-color: black;
    font-family: 'Quicksand', sans-serif;
    color: ivory;
}

#header {
    padding: 25px;
    background-color: inherit;
    border: solid 1px ivory;
}

#brand {
    display: inline;
}

#brandDescription {
    display: inline;
}

#columns {
    transition: all 0.7s ease-out;
    display: flex;
    flex-direction: row;
}

#projectsButton {
    display: inline;
    background-color: inherit;
    color: ivory;
    border-radius: 50px;
    border: none;
    font-size: larger;
}

#projectsButton:hover {
    cursor: pointer;
    font-weight: lighter;
}

#projectsButton:active {
    border: ivory;
    background-color: black;
    color: ivory;
}

#tasksButton {
    display: inline;
    background-color: inherit;
    color: ivory;
    border-radius: 50px;
    border: none;
    font-size: larger;
}

#tasksButton:hover {
    cursor: pointer;
    font-weight: lighter;
}

#tasksButton:active {
    border: ivory;
    background-color: black;
    color: ivory;
}

#leftPanel {
    padding: 50px;
    border-radius: 5px 0 0 5px;
    width: 20%;
    border: solid 1px ivory;
}

#rightPanel {
    padding: 50px;
    border-radius: 0 5px 5px 0;
    width: 80%;
    border: solid 1px ivory;
}

input {
    background-color: inherit;
    border: none;
    padding: 5px;
    margin: 10px;
    opacity: 70%;
    color: ivory;
}

input:hover {
    opacity: 100%;
}

input:focus {
    outline: none;
}

.roundButton {
    border-radius: 50px;
}