body {
    background-color: rgb(226, 65, 65);
    font-family: 'Quicksand', sans-serif;
}

#projectsButton {
    background-color: inherit;
    border-radius: 50px;
    border: none;
}

#projectsButton:hover {
    font-weight: bolder;
}

#tasksButton {
    background-color: inherit;
    border-radius: 100%;
    border: none;
}

#tasksButton:hover {
    font-weight: bolder;
}

#columns {
    display: flex;
    flex-direction: row;
}

#header {
    padding: 20px;
    background-color: rgb(226, 65, 65);
    color: white;
}

#brand {
    display: inline;
}

#brandDescription {
    display: inline;
}

#projectsList {
    padding: 50px;
    background-color: rgb(230, 224, 224);
    border-radius: 5px 0 0 5px;
    width: 20%;
}

#tasksList {
    padding: 50px;
    background-color: white;
    border-radius: 0 5px 5px 0;
    width: 80%;
}